# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

**/*~
**/._*
**/.DS_Store
npm-debug.log
/.idea
/bower_components
/coverage
/dist/json-schema-ref-parser.cover.js
/node_modules
